/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*如果是用bs4已有內建此段語法*/
*,*:before,*:after{
              box-sizing:border-box;
}

img{
  max-width: 100%;
  height: auto;
  object-fit:cover;
  /*下block 去除底下img buttom px用*/
  display: block;
}

a{
  display:inline-block;
  text-decoration: none;
  /*&:hover{}*/
}
/*用bs4加入以下兩個
ul{
  padding: 0;
}

ul,li{
  list-style:none
}*/
body{
  padding: 100px 0;//上下X軸,左右Y軸
  background: linear-gradient(20deg,#3d5493,#1aa2a0) fixed center center / 100% 100%;
  /*背景固定 背景置中 寬% 高%*/
}
.container{
  width: 1200px;
  margin: 0 auto;
  font-family: 'Noto Sans TC', sans-serif;
  line-height: 1.5;
}
.introduction-wrap{
  display:flex;
  align-items: center;
  margin-bottom: 70px;
  //background: #CCC;
  &>:first-child{//:first-child 匹配的是某父元素的第一个子元素，可以说是结构上的第一个子元素。 
    margin-right: -10%;
  }
  &:nth-child(1) .introduction_content{//關於:nth-child(n)的定義，「:nth-child(n)選擇器匹配屬於其父元素的第 N 個子元素，不論元素的類型」。
  background: rgba(240,174,193,0.8);//背景透明 文字不透明 如果用opacity語法 文字也會變透明
  border-radius: 10px;
  border: 3px solid rgba(240,174,193,1);
  }
  &:nth-child(2) .introduction_content{
  background: rgba(42,253,208,0.8);//背景透明 文字不透明 如果用opacity語法 文字也會變透明  
  border-radius: 10px;
  border: 3px solid rgba(42,253,208,1);   
  }
  &:nth-child(3) .introduction_content{
  background: rgba(254,201,121,0.8);//背景透明 文字不透明 如果用opacity語法 文字也會變透明 
  border-radius: 10px;
  border: 3px solid rgba(254,201,121,1);
  }
  &:nth-child(4) .introduction_content{
  background: rgba(149,219,214,0.8);//背景透明 文字不透明 如果用opacity語法 文字也會變透明
  border-radius: 10px;
  border: 3px solid rgba(149,219,214,1);
  }
}
.introduction_pic{
  width: 55%;
  flex-shrink: 0;//讓flex的自動收縮變成0 也就是不收縮
}
.introduction_img{
  width: 100%;//讓圖片跟文字可以貼近
}
.introduction_content{
  width: 55%;
  flex-shrink: 0;
  background: #fa8;
  padding: 50px 30px;
  box-sizing: border-box;//不超過盒模型寬度
  position: relative;//讓文字疊在圖片上層
  z-index: 1;//讓文字疊在圖片上層
}
.introduction_title{
  font-size: 28px;
  font-weight: 600;
  margin-bottom: 16px
}
.introduction_text{
  font-size: 20px;
  font-weight: 300;
}